<a href="https://colab.research.google.com/github/jumorap/discrete_mathematics_II_taller_II_alpha/blob/main/discrete_mathematics_II_taller_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Presented by: Juan C. Mora P. (jumorap@unal.edu.co)* \\
*Undergraduate in Computer Science (Systems Engineer)* \\

*Discrete Mathematics II UNAL* \\
*Francisco A. Gómez J.* \\

---

# Taller 2

1. (20 Puntos) De las [notas de clase](https://drive.google.com/file/d/1EQ0FxsZNcBO0651ULj9qAWPX41DuXnFt/view?usp=sharing) realice las siguientes actividades: 1 (pagina 10),  2 (pagina 14), y 5 (pagina 20), 7 (pagina 23), 17 (pagina 31), 19 (pagina 32), 23 (pagina 37), 24 (pagina 37), 28 y 29 (pagina 46), 31 (pagina 54), 34 (pagina 57), 37 (pagina 63), 38 (pagina 66).

2. (15 Puntos) Del [libro](https://drive.google.com/file/d/1vZugWaH5IjT_NVLB97oii9aVFbvtWSet/view?usp=sharing) realice los siguientes problemas: 1, 2, 3 (pagina 7).

3. (20 Puntos) Del [libro](https://drive.google.com/file/d/1vZugWaH5IjT_NVLB97oii9aVFbvtWSet/view?usp=sharing) realice los siguientes problemas: 4 (pagina 7) y 9 (pagina 8).

4. (15 Puntos) Del [libro](https://drive.google.com/file/d/1vZugWaH5IjT_NVLB97oii9aVFbvtWSet/view?usp=sharing) realice los siguientes problemas: 2 y 3 (pagina 79), 22 (pagina 80).

5. (10 Puntos) Del [libro](https://drive.google.com/file/d/1vZugWaH5IjT_NVLB97oii9aVFbvtWSet/view?usp=sharing) realice los siguientes problemas: 1 y 2 (pagina 104).

6. (10 Puntos) Del [libro](https://drive.google.com/file/d/1vZugWaH5IjT_NVLB97oii9aVFbvtWSet/view?usp=sharing) realice los siguientes problemas: 18 (pagina 105).

6. (10 Puntos) Del [libro](https://drive.google.com/file/d/1vZugWaH5IjT_NVLB97oii9aVFbvtWSet/view?usp=sharing) realice los siguientes problemas: 19 y 20 (pagina 105).

**1. (20 Puntos) De las notas de clase realice las siguientes actividades: 1 (pagina 10), 2 (pagina 14), y 5 (pagina 20), 7 (pagina 23), 17 (pagina 31), 19 (pagina 32), 23 (pagina 37), 24 (pagina 37), 28 y 29 (pagina 46), 31 (pagina 54), 34 (pagina 57), 37 (pagina 63), 38 (pagina 66).**

*1.1 - pg.10)* For each of the following numbers $a$ and $n$, find the quotient and remainder when you divide $a$ by $n$, and write down the equation $a = qn + r$.<p>
$(a) a = 59, n = 7 \qquad (b) a = 84, n = 12$ <br>
$(c) a = 100, n = 9 \qquad (d) a = 9, n = 100$ <br>
$(e) a = 0, n = 11 \qquad (f) a = −58, n = 5$<br>
$(g) a = −100, n = 9 \qquad (h) a = −96, n = 12$ <br>
$(i) a = −4, n = 5$<br>

In [ ]:
def to_equation(a,n):
    var_r = int(a % n)
    var_q = a // n
    res = f"a = {a},  \t n = {n}, \t r = {var_r}, \t q = {var_q}, \t {a} = {var_q} * {n} + {var_r}"

    return res

print("With the equation a = q*n + r, we have:\n")
print(to_equation(59, 7))
print(to_equation(84, 12))
print(to_equation(100, 9))
print(to_equation(9, 10))
print(to_equation(0, 11))
print(to_equation(-58, 5))
print(to_equation(-100, 9))
print(to_equation(-96, 12))
print(to_equation(-4, 5))

With the equation a = q*n + r, we have:

a = 59,  	 n = 7, 	 r = 3, 	 q = 8, 	 59 = 8 * 7 + 3
a = 84,  	 n = 12, 	 r = 0, 	 q = 7, 	 84 = 7 * 12 + 0
a = 100,  	 n = 9, 	 r = 1, 	 q = 11, 	 100 = 11 * 9 + 1
a = 9,  	 n = 10, 	 r = 9, 	 q = 0, 	 9 = 0 * 10 + 9
a = 0,  	 n = 11, 	 r = 0, 	 q = 0, 	 0 = 0 * 11 + 0
a = -58,  	 n = 5, 	 r = 2, 	 q = -12, 	 -58 = -12 * 5 + 2
a = -100,  	 n = 9, 	 r = 8, 	 q = -12, 	 -100 = -12 * 9 + 8
a = -96,  	 n = 12, 	 r = 0, 	 q = -8, 	 -96 = -8 * 12 + 0
a = -4,  	 n = 5, 	 r = 1, 	 q = -1, 	 -4 = -1 * 5 + 1

*1.2 - pg.14)* Using Euclid’s algorithm, find the highest common factor of each of the following pairs of integers.<br>
(a) 93 and 21 $\qquad$ (b) 138 and 61 $\qquad$ (c) 231 and 49$

In [ ]:
def gcd(a, b):
    if b == 0:
        return a
    
    return gcd(b, a % b)
print("The g.c.d using Euclid’s algorithm is:\n")
print(f"a = {93}, \t b = {21} \t g.c.d = ", gcd(93, 21))
print(f"a = {138}, \t b = {61} \t g.c.d = ", gcd(138, 61))
print(f"a = {231}, \t b = {49} \t g.c.d = ", gcd(231, 49))

The g.c.d using Euclid’s algorithm is:

a = 93, 	 b = 21 	 g.c.d =  3
a = 138, 	 b = 61 	 g.c.d =  1
a = 231, 	 b = 49 	 g.c.d =  7

*1.5 - pg.20)* Suppose you have two buckets of capacities 23 litres and 16 litres, and a cauldron, which has capacity over 200 litres. You are able to fill the buckets with water from a tap. By using these buckets, you can obtain certain quantities of water in the cauldron. For example, you could obtain 7 litres of water in the cauldron by filling the 23-litre bucket from the tap and pouring it into the cauldron, and then filling the 16-litre bucket from the cauldron and emptying it out.

Is it possible to use a similar method to obtain exactly 1 litre of water in the cauldron? If so, describe how you would do this.<br>&nbsp;<br>
Following step by step the process, is possible obtain 1 litre of wotah within next ecuation:  $23x + 16y = 1$. Was think to use Euclid's algorithm.

Applying the equation $a = qn + r$, where $a = 23$ and $n = 16$, we determinate $q$ and $r$ as:
<center>
    $23 = 1 * 16 + 7$<br>
    $16 = 2 * 7 + 2$ <br>
    $7 = 3 * 2 + 1$<br>
    $3 = 3 * 3 + 0$
</center>
Now, using these results, is possible reorder the equations given, as:
<center>
    $7 = 23 − 1 × 16$<br>
    $2 = 16 − 2 × 7$<br>
    $1 = 7 − 3 × 2$<br>
    $1 = 7 − 3 × (16 - 2 * 7)$<br>
    $1 = 7 × 7 − 3 × 16$<br>
    $1 = 7 × (23 − 1 × 16) − 3 × 16$<br>
    $ 1 = 7 × 23 − 10 × 16$
</center><p>
By the way, is possible define<br> $x = 7$ &nbsp; &nbsp; and &nbsp; &nbsp; $y = -10$ &nbsp; &nbsp; in<br>
$23x + 16y = 1$ &nbsp; &nbsp; as:<br>
$23*7 + 16*(-10) = 1$

So, when we add 23 litre and pour it 7 times, until fill 16 litre and empty it out
10 times, we'll have 1 litre of wotah.

*1.7 - pg.23)* Which of the following congruences are true?<p>
(a) $11 ≡ 26 (mod 5)$ $\qquad$ (b) $9 ≡ −9 (mod 5)$<br>
(c) $28 ≡ 0 (mod 7)$ $\qquad$ (d) $−4 ≡ −18 (mod 7)$<br>
(e) $−8 ≡ 5 (mod 13)$ $\qquad$ (f) $38 ≡ 0 (mod 13)$

In [ ]:
def mod_congruence(a, b, c):
    text = f"{a} ≡ {b} (mod {c})"
    if a % c == b % c:
        return text, True
    
    return text, False

print("a)", mod_congruence(11, 26, 5))
print("b)", mod_congruence(9, -9, 5))
print("c)", mod_congruence(28, 0, 7))
print("d)", mod_congruence(-4, -18, 7))
print("e)", mod_congruence(-8, 5, 13))
print("f)", mod_congruence(38, 0, 13))

a) ('11 ≡ 26 (mod 5)', True)
b) ('9 ≡ -9 (mod 5)', False)
c) ('28 ≡ 0 (mod 7)', True)
d) ('-4 ≡ -18 (mod 7)', True)
e) ('-8 ≡ 5 (mod 13)', True)
f) ('38 ≡ 0 (mod 13)', False)

*1.17 - pg.31)* Find the least residues of the following integers modulo 10.<p>
(a) $6 + 4$ $\qquad$ (b) $14 − 7$ $\qquad$ (c) $13 − 15$<br>
(d) $−21 − 17$ $\qquad$ (e) $101 + 11 + 1$ $\qquad$ (f) $101 − 11 − 1$<br>&nbsp;<br>
(a) $6 + 4 ≡ 10 ≡ 0 (mod 10)$<br>
(b) $14 − 7 ≡ 7 (mod 10)$<br>
(c) $13 − 15 ≡ −2 ≡ 8 (mod 10)$<br>
(d) $−21 − 17 ≡ −1 − 7 ≡ −8 ≡ 2 (mod 10)$<br>
(e) $101 + 11 + 1 ≡ 1 + 1 + 1 ≡ 3 (mod 10)$<br>
(f) $101 − 11 − 1 ≡ 1 − 1 − 1 ≡ −1 ≡ 9 (mod 10)$

*1.19 - pg.32)* Find the least residues of the following integers modulo 8.<br>
(a) $4 × 4$ $\qquad$ (b) $17 × 26$ $\qquad$ (c) $(−6) × 34$<br>
(d) $16 × 457$ $\qquad$ (e) $47 × (−25)$ $\qquad$ (f) $(−61) × (−46)$
<br>&nbsp;<br>
(a) $4 * 4 ≡ 16 ≡ 0 (mod 8)$<br>
(b) $17 * 26 ≡ 1 * 2 ≡ 2 (mod 8)$<br>
(c) $(−6) * 34 ≡ 2 * 2 ≡ 4 (mod 8)$<br>
(d) $16 * 457 ≡ 0 * 457 ≡ 0 (mod 8)$<br>
(e) $47 * (−25) ≡ (−1) * (−1) ≡ 1 (mod 8)$<br>
(f) $(−61) * (−46) ≡ 61 * 46 ≡ (−3) * (−2) ≡ 6 (mod 8)$

*1.23 - pg.37)* Find the least residues of the following integers modulo 7.<br>
(a) $5^{6}$ $\qquad$ (b) $18^{18}$ $\qquad$ (c) $(−11)^{33}$<br>&nbsp;<br>

**(a)** Using Fermat’s little theorem $a^{p - 1} ≡ 1 (mod(p))$:
<center>
    $5^{6} ≡ 1 (mod 7)$<p>
</center>
<hr width="40%">

**(b)** Following congruence methods, we point out bellow:
<center>
    $18 ≡ 4 (mod 7)$<br>
    $18^{x} ≡ 4^{x} (mod 7)$<br>
    $18^{18} ≡ 4^{18} (mod 7$<p>
</center>
$\quad$ And now, using Fermat’s little theorem $a^{p - 1} ≡ 1 (mod(p))$:
<center>
    $4^{7 - 1} ≡ 1 (mod 7)$<br>
    $4^{6} ≡ 1 (mod 7)$<p>
</center>
$\quad$ With this in mind, we can use the properties of modular arithmetic, as:
<center>
    $4^{18} ≡ 4^{6*3} (mod 7)$<br>
    $4^{18} ≡ (4^{6})^{3} (mod 7)$<br>
    $4^{18} ≡ 1^{3} (mod 7)$<br>
    $4^{18} ≡ 1 (mod 7)$<br>
    $18^{18} ≡ 4^{18} ≡ 1 (mod 7)$<p>
</center>
<hr width="40%">

**(c)** Following congruence methods, we point out bellow:
<center>
    $-11 ≡ 3 (mod 7)$<br>
    $-11^{x} ≡ 3^{x} (mod 7)$<br>
    $-11^{33} ≡ 3^{33} (mod 7$<p>
</center>
$\quad$ And now, using Fermat’s little theorem $a^{p - 1} ≡ 1 (mod(p))$:
<center>
    $3^{7 - 1} ≡ 1 (mod 7)$<br>
    $3^{6} ≡ 1 (mod 7)$<p>
</center>
$\quad$ With this in mind, we can use the properties of modular arithmetic, as:
<center>
    $3^{33} ≡ 3^{6*5} * 3^{3} (mod 7)$<br>
    $3^{33} ≡ (3^{6})^{5} *3^{3} (mod 7)$<br>
    $3^{33} ≡ 1^{5} * 3^{3} (mod 7)$<br>
    $3^{33} ≡ 1 * 3^{3}(mod 7)$<br>
    $3^{33} ≡ 27 (mod 7)$<br>
    $3^{33} ≡ 6 (mod 7)$<br>
    $-11^{33} ≡ 3^{33} ≡ 6 (mod 7)$<p>
</center>
<hr width="40%">

*1.24 - 37)* Find the least residues of the following integers modulo 11.<br>
(a) $7^{10}$ $\qquad$ (b) $(−5)^{31}$ $\qquad$ (c) $13^{85}$<br>&nbsp;<br>

**(a)**  Using Fermat’s little theorem $a^{p - 1} ≡ 1 (mod(p))$:
<center>
    $7^{10} ≡ 1 (mod 11)$
</center>
<hr width="40%">

**(b)** Following congruence methods, we point out bellow:
<center>
    $-5 ≡ 6 (mod 11)$<br>
    $-5^{x} ≡ 6^{x} (mod 11)$<br>
    $-5^{31} ≡ 6^{31} (mod 11)$<p>
</center>
$\quad$ And now, using Fermat’s little theorem $a^{p - 1} ≡ 1 (mod(p))$:
<center>
    $6^{11 - 1} ≡ 1 (mod 11)$<br>
    $6^{10} ≡ 1 (mod 11)$<p>
</center>
$\quad$ With this in mind, we can use the properties of modular arithmetic, as:
<center>
    $6^{31} ≡ 6^{10*3} * 6^{1} (mod 11)$<br>
    $6^{31} ≡ (6^{10})^{3} *6 (mod 11)$<br>
    $6^{31} ≡ 1^{3} * 6 (mod 11)$<br>
    $6^{31} ≡ 1 * 6 (mod 11)$<br>
    $6^{31} ≡ 6 (mod 11)$<br>
    $-5^{31} ≡ 6^{31} ≡ 6 (mod 11)$<p>
</center>
<hr width="40%">

**(c)** Following congruence methods, we point out bellow:
<center>
    $13 ≡ 2 (mod 11)$<br>
    $13^{x} ≡ 2^{x} (mod 11)$<br>
    $13^{85} ≡ 2^{85} (mod 11)$<p>
</center>
$\quad$ And now, using Fermat’s little theorem $a^{p - 1} ≡ 1 (mod(p))$:
<center>
    $2^{11 - 1} ≡ 1 (mod 11)$<br>
    $2^{10} ≡ 1 (mod 11)$<p>
</center>
$\quad$ With this in mind, we can use the properties of modular arithmetic, as:
<center>
    $2^{85} ≡ 2^{10*8} * 2^{5} (mod 11)$<br>
    $2^{85} ≡ (2^{10})^{8} *2^{5} (mod 11)$<br>
    $2^{85} ≡ 1^{8} * 2^{5} (mod 11)$<br>
    $2^{85} ≡ 1 * 2^{5} (mod 11)$<br>
    $2^{85} ≡ 32 (mod 11)$<br>
    $2^{85} ≡ 10 (mod 11)$<br>
    $13^{85} ≡ 2^{85} ≡ 10 (mod 11)$<p>
</center>
<hr width="40%">

*1.28 - pg.46)* Find a multiplicative inverse modulo $9$ of each of the following integers.<br>
(a) $1$ $\qquad$ (b) $5$ $\qquad$ (c) $7$ $\qquad$ (d) $16$
<center>
    <b>TO SOLVE IT, WAS BUILT NEXT PYTHON PROGRAM</b>
</center>

*1.29 - pg.46)* Show that each of the following integers doesn’t have a multiplicative inverse modulo $9$.<br>
(a) $0$ $\qquad$ (b) $6$ $\qquad$ (d) $18$
<center>
    <b>TO SOLVE IT, WAS BUILT NEXT PYTHON PROGRAM</b>
</center>

In [ ]:
# P 28 & 29 PG.29

def egcd(a, b):
    if a == 0:
        return (b, 0, 1)
    else:
        g, y, x = egcd(b % a, a)
        return (g, x - (b // a) * y, y)

def modinv(a, p):
    g, x, y = egcd(a, p)
    if g != 1:
        return (f"Doesn’t have a multiplicative inverse modulo {9}")
    else:
        return x % p

def caller(number):
    text = f"Multiplicative inverse modulo {modulo} of {number} is:   " + str(modinv(number, modulo))
    return text

modulo = 9

print("1.28 - pg.46) Find a multiplicative inverse modulo 9 of each of the following integers")
print(caller(1))
print(caller(5))
print(caller(7))
print(caller(16))
print()

print("1.29 - pg.46) Show that each of the following integers doesn’t have a multiplicative inverse modulo 9")
print(modinv(0, modulo))
print(modinv(6, modulo))
print(modinv(18, modulo))

1.28 - pg.46) Find a multiplicative inverse modulo 9 of each of the following integers
Multiplicative inverse modulo 9 of 1 is:   1
Multiplicative inverse modulo 9 of 5 is:   2
Multiplicative inverse modulo 9 of 7 is:   4
Multiplicative inverse modulo 9 of 16 is:   4

1.29 - pg.46) Show that each of the following integers doesn’t have a multiplicative inverse modulo 9
Doesn’t have a multiplicative inverse modulo 9
Doesn’t have a multiplicative inverse modulo 9
Doesn’t have a multiplicative inverse modulo 9

*1.31 - pg.54)* Solve the following linear congruences.<br>
(a) $2x ≡ 5 (mod 7)$<br>
(b) $7x ≡ 8 (mod 10)$<br>
(c) $15x ≡ −13 (mod 11)$

In [ ]:
def linear_congruences(a, b, c):
    rest = b - c
    while rest % a != 0:
        rest += c
    
    return rest // a

print("a) In 2x ≡ 5(mod 7) \t \t x =", linear_congruences(2, 5, 7))
print("b) In 7x ≡ 8(mod 10) \t \t x =", linear_congruences(7, 8, 10))
print("c) In 15x ≡ -13(mod 11) \t x =", linear_congruences(15, -13, 11))

a) In 2x ≡ 5(mod 7) 	 	 x = -1
b) In 7x ≡ 8(mod 10) 	 	 x = 4
c) In 15x ≡ -13(mod 11) 	 x = 5

*1.34 - pg.57)* Show that the following linear congruences have no solutions.<br>
(a) $4x ≡ 5 (mod 10)$ $\qquad$ (b) $−12x ≡ 8 (mod 42)$<br>
(c) $48x ≡ 70 (mod 111)$<br>&nbsp;

**(a)** The highest common factor of $4$ and $10$ is $2$. And $5$ isn't divisible by $2$, so, the linear congruence hasn't solutions.

**(b)** The highest common factor of $-12$ and $42$ is $6$. And $8$ isn't divisible by $6$, so, the linear congruence hasn't solutions.

**(c)** The highest common factor of $48$ and $111$ is $3$. And $70$ isn't divisible by $3$, so, the linear congruence hasn't solutions.

![imagen_2020-11-22_195345.png]()

*1.37 - pg.63)* Using Table 1 and the affine cipher
$E(x) ≡ 3x + 14 (mod 26)$, encipher the message BROUHAHA.
<p>
Using the Table 1, we can translate the message as: $1, 17, 14, 20, 7, 0, 7, 0$. So, we can encipher the message:<br>
    $E(1) ≡ 3 × 1 + 14 ≡ 17 (mod 26)$<br>
    $E(17) ≡ 3 × 17 + 14 ≡ 65 ≡ 13 (mod 26)$<br>
    $E(14) ≡ 3 × 14 + 14 ≡ 56 ≡ 4 (mod 26)$<br>
    $E(20) ≡ 3 × 20 + 14 ≡ 74 ≡ 22 (mod 26)$<br>
    $E(7) ≡ 3 × 7 + 14 ≡ 35 ≡ 9 (mod 26)$<br>
    $E(0) ≡ 3 × 0 + 14 ≡ 14 (mod 26)$<p>
Therefore, enciphered message is: $17, 13, 4, 22, 9, 14, 9, 14$

*1.38 -pg.66)* Suppose you receive the following two messages that have been enciphered using the specified affine cipher E. What do the messages say?<br>
(a) $14, 10, 6, 22, 22$, using $E(x) ≡ 5x + 10 (mod 26)$<br>
(b) $22, 8, 11, 22, 9$, using $E(x) ≡ −9x + 6 (mod 26)$<br>&nbsp;

**(a)** A rule D for deciphering the message is given by $D(y) ≡ v(y − 10) (mod 26)$, where $v$ is a multiplicative inverse of 5 modulo 26. So, $D(y) ≡ -5(y − 10) (mod 26)$. With this in mind, we can deciphering the message as:

$D(14) ≡ −5(14 − 10) ≡ −20 ≡ 6 (mod 26)$<br>
$D(10) ≡ −5(10 − 10) ≡ 0 (mod 26)$<br>
$D(6) ≡ −5(6 − 10) ≡ 20 (mod 26)$<br>
$D(22) ≡ −5(22 − 10) ≡ −60 ≡ 18 (mod 26)$

The deciphered message would be: $6, 0, 20, 18, 18$, and using the Table 1, we can translate the message like: GAUSS.<br>&nbsp;


**(b)** A rule D for deciphering the message is given by $D(y) ≡ v(y − 6) (mod 26)$, where $v$ is a multiplicative inverse of -9 modulo 26. So, $D(y) ≡ -3(y − 5) (mod 26)$. With this in mind, we can deciphering the message as:

$D(22) ≡ −3(22 − 6) ≡ −48 ≡ 4 (mod 26)$<br>
$D(8) ≡ −3(8 − 6) ≡ −6 ≡ 20 (mod 26)$<br>
$D(11) ≡ −3(11 − 6) ≡ −15 ≡ 11 (mod 26)$<br>
$D(9) ≡ −3(9 − 6) ≡ −9 ≡ 17 (mod 26)$

The deciphered message would be: $4, 20, 11, 4, 17$, and using the Table 1, we can translate the message like: EULER

<hr>

In [ ]:
# 2. (15 Puntos) Del libro realice los siguientes problemas: 1, 2, 3 (pagina 7).

"""1 - Write a program to find the nth triangular number, tn, using formula 
(1.1). Then write a program using (1.2). Compare the two procedures for very 
large values of n. A program for the first part of this is included at the end 
of the chapter."""

# formula 1.1
def triangular_numb_one(n): 
    adder = 0
    for x in range(n + 1):
        adder += x

    return adder

# formula 1.2
def triangular_numb_two(n):
    
    return (n * (n + 1)) // 2


n = int(input("2.1) Ingress a n number to find tn number "))

print("With complex O(n): The nth triangular number, tn is", triangular_numb_one(n))
print("With complex O(1): The nth triangular number, tn is", triangular_numb_two(n))



print("\n=============================================\n")

"""2 - Write a program to find out whether a given number is a square."""

def is_square(n):
    if (int(n ** 0.5 + 0.5) ** 2 == n):
        return True
    
    return False

n = int(input("2.2) Ingress a n number to calculate if is a square "))

print(n, "is a square") if is_square(n) else print(n, "isn't a square")



print("\n=============================================\n")

"""3 - Find, using a partial fraction decomposition, the sum of the
reciprocals of the first n triangular numbers, that is, find
1/1 + 1/3 + 1/6 + 1/10 + ... + 1/tn. Then write a program to do this."""

def sum_reciprocals(n):
    result = 0
    adder = 0
    for x in range(1, n + 1):
        adder += x
        result += (1/adder)

    return result

n = int(input("2.3) Ingress a n number to calculate all the reciprocals number and sum until tn "))

print("The sum of the reciprocals of the first n triangular numbers is:", sum_reciprocals(500))

2.1) Ingress a n number to find tn number 505050
With complex O(n): The nth triangular number, tn is 127538003775
With complex O(1): The nth triangular number, tn is 127538003775

=============================================

2.2) Ingress a n number to calculate if is a square 1024144
1024144 is a square

=============================================

2.3) Ingress a n number to calculate all the reciprocals number and sum until tn 505457
The sum of the reciprocals of the first n triangular numbers is: 1.996007984031936

---

**3. (20 Puntos) Del libro realice los siguientes problemas: 4 (pagina 7) y 9 (pagina 8).**

*3.4) The ancient Egyptians expressed every proper fraction except as the
sum of fractions with 1s in the numerator. Thus, 2/3 is equivalent to 
$\frac{1}{3} + \frac{1}{4} + \frac{1}{12}$ and $\frac{7}{8}$ is equivalent to as $\frac{1}{2} + \frac{1}{4} + \frac{1}{8}$*

**a)** Verify the identity $\frac{1}{n} = \frac{1}{n + 1} + \frac{1} {n (n + 1)}$
<p>
Applying fraction reduction methods we can reduce the expression as:
<center>
    $\frac{1}{n} = \frac{1}{n + 1} + \frac{1} {n (n + 1)} = ...$<p>
    $... = \frac{n}{n(n + 1)} + \frac{1} {n (n + 1)} = ...$<p>
    $... = \frac{n + 1}{n(n+1)} = \frac{1}{n}$
</center>


**b)** Using the strategy of starting off by writing a fraction $\frac{a}{b}$ as the sum of $\frac{1}{b} + \frac{1}{b} +$ ($a$ times) and using the identity verified in part a repeatedly until all fractions are distinct, write a program to express every fraction as the sum of fractions with distinct denominators and numerators equal to $1$:

In [ ]:
# Using Greedy algorithm:

import math

def fract_ab(a, b):
    print(f"{a}/{b} =", end = " ") 
    final_res = a/b

    my_arr = [] 

    while a != 0: 
        x = math.ceil(b / a)
        my_arr.append(x)
        a *= x
        a -= b 
        b *= x

    for i in range(len(my_arr)):
        if i != (len(my_arr) - 1):
            print(f"1/{my_arr[i]} +", end = " ") 
        
    print(f"1/{my_arr[i]} = {final_res}") 

fract_ab(188, 15)
fract_ab(24, 15)
fract_ab(105, 85)
fract_ab(14, 4)
fract_ab(78, 67)

188/15 = 1/1 + 1/1 + 1/1 + 1/1 + 1/1 + 1/1 + 1/1 + 1/1 + 1/1 + 1/1 + 1/1 + 1/1 + 1/2 + 1/30 = 12.533333333333333
24/15 = 1/1 + 1/2 + 1/10 = 1.6
105/85 = 1/1 + 1/5 + 1/29 + 1/1233 + 1/3039345 = 1.2352941176470589
14/4 = 1/1 + 1/1 + 1/1 + 1/2 = 3.5
78/67 = 1/1 + 1/7 + 1/47 + 1/22043 = 1.164179104477612

*3.9) Show that after 3, the next 100 triangular numbers are composite (not prime). Then prove this for all triangular numbers after 3.*

Proving by contradiction, we asume that $p$ is a prime number and a triangular number. Also, one of $n$ and $n + 1$ is even, so, $p$ must be defined by: $\quad p = \frac{n(n+1)}{2}\quad$, where $p$ can be divided by $n$ and $n +1$, but is a contradiction, because $p$ is a prime number. With this in mind, we can define $p$ as a composite.

<hr>

**4. (15 Puntos) Del libro realice los siguientes problemas: 2 y 3 (pagina 79), 22 (pagina 80).**

*4.2) Verify that $\frac{6}{n^{3} − n}$ for $n ≤ 1000$. Then prove it is true for all $n$.*

In [ ]:
def verify_n_thousand_a():
    for i in range(1, 1001):
        confirmer = (i**3) - i

        if confirmer % 6 != 0:
            return False

    return True

print(verify_n_thousand_a(), "for n ≤ 1000")

True for n ≤ 1000

*4.3) Repeat the previous exercise for the statement $\frac{30}{n^{5} − n}$*

In [ ]:
def verify_n_thousand_b():
    for i in range(1, 1001):
        confirmer = (i**5) - i

        if confirmer % 30 != 0:
            return False
            
    return True

print(verify_n_thousand_b(), "for n ≤ 1000")

True for n ≤ 1000

*4.22) Verify Bertrand’s postulate (that for $n > 1$, there is a prime number between $n$ and $2n$) for all $n$ such that $1 < n ≤ 1000$.*

In [ ]:
def bertrand_postulate():
    for i in range(2, 1001):
        if not prime(i):
            return False

    return True


def prime(m):
    for j in range(m + 1, 2*m + 1):
        if is_prime(j):
            return True

    return False


def is_prime(o):
    for k in range(2, o**(1//2) + 1):
        if o % k == 0:
            return False

    return True


print(str(bertrand_postulate()) + ", there is a prime number between  n  and  2n, for all  n  such that  1 < n ≤ 1000")

True, there is a prime number between  n  and  2n, for all  n  such that  1 < n ≤ 1000

<hr>

**5. (10 Puntos) Del libro realice los siguientes problemas: 1 y 2 (pagina 104).**

*5.1) Show that $n^{3} = 0$ or $± 1 (mod 9)$. The first few cubes $1, 8, 27, 64, 125$, and $216$ suggest the pattern $0, 1, −1, 0, 1, −1$, .... Does this pattern persist for the first $100$ cubes?*

We have $n = k (mod 9)$ where $n \in \mathbb z_{9}$ and $k \in \mathbb z_{9} = {0, 1, 2, 3, 5, 6, 7, 8}$, therefore, is possible deduce $n^{3} = k^{3} (mod 9)$. So, proving by cases like in next output of Python program, where the patron appear, and show that $n^{3} = 0$ or $± 1 (mod 9)$ persist for the first $100$ cubes:

In [15]:
def resid(a, n):
    q = 0
    if a >= 0:
        while q*n <= a:
            q += 1
        q -= 1
    else:
        while q*n >= a:
            q -= 1

    return a - q*n


def negative_res(a, n):
    q = 0
    while True:
        if resid(q, n) == a:
            return q
        else:
            q -= 1

    return q


def cube(n):
    if resid(n, 9) == 0:
        return 0

    elif resid(n, 9) == 1:
        return 1

    elif resid(n, 9) == 8:
        return negative_res(8, 9)

    else:
        return resid(n, 9)
  

def cubes_a(n):
    for i in range(1, n + 1):
        cub = i**3
        print(f"k= {i},\t n^3= {cub} \t≡\t {cube(cub)} \t mod 9")

cubes_a(100)

k= 1,	 n^3= 1 	≡	 1 	 mod 9
k= 2,	 n^3= 8 	≡	 -1 	 mod 9
k= 3,	 n^3= 27 	≡	 0 	 mod 9
k= 4,	 n^3= 64 	≡	 1 	 mod 9
k= 5,	 n^3= 125 	≡	 -1 	 mod 9
k= 6,	 n^3= 216 	≡	 0 	 mod 9
k= 7,	 n^3= 343 	≡	 1 	 mod 9
k= 8,	 n^3= 512 	≡	 -1 	 mod 9
k= 9,	 n^3= 729 	≡	 0 	 mod 9
k= 10,	 n^3= 1000 	≡	 1 	 mod 9
k= 11,	 n^3= 1331 	≡	 -1 	 mod 9
k= 12,	 n^3= 1728 	≡	 0 	 mod 9
k= 13,	 n^3= 2197 	≡	 1 	 mod 9
k= 14,	 n^3= 2744 	≡	 -1 	 mod 9
k= 15,	 n^3= 3375 	≡	 0 	 mod 9
k= 16,	 n^3= 4096 	≡	 1 	 mod 9
k= 17,	 n^3= 4913 	≡	 -1 	 mod 9
k= 18,	 n^3= 5832 	≡	 0 	 mod 9
k= 19,	 n^3= 6859 	≡	 1 	 mod 9
k= 20,	 n^3= 8000 	≡	 -1 	 mod 9
k= 21,	 n^3= 9261 	≡	 0 	 mod 9
k= 22,	 n^3= 10648 	≡	 1 	 mod 9
k= 23,	 n^3= 12167 	≡	 -1 	 mod 9
k= 24,	 n^3= 13824 	≡	 0 	 mod 9
k= 25,	 n^3= 15625 	≡	 1 	 mod 9
k= 26,	 n^3= 17576 	≡	 -1 	 mod 9
k= 27,	 n^3= 19683 	≡	 0 	 mod 9
k= 28,	 n^3= 21952 	≡	 1 	 mod 9
k= 29,	 n^3= 24389 	≡	 -1 	 mod 9
k= 30,	 n^3= 27000 	≡	 0 	 mod 9
k= 31,	 n^3= 29791 	≡	 1 	 mod 9
k= 32,	 n^3= 32768 	≡	 -1 	 mod 9
k= 33,	 n^3= 35937 	≡	 0 	 mod 9
k= 34,	 n^3= 39304 	≡	 1 	 mod 9
k= 35,	 n^3= 42875 	≡	 -1 	 mod 9
k= 36,	 n^3= 46656 	≡	 0 	 mod 9
k= 37,	 n^3= 50653 	≡	 1 	 mod 9
k= 38,	 n^3= 54872 	≡	 -1 	 mod 9
k= 39,	 n^3= 59319 	≡	 0 	 mod 9
k= 40,	 n^3= 64000 	≡	 1 	 mod 9
k= 41,	 n^3= 68921 	≡	 -1 	 mod 9
k= 42,	 n^3= 74088 	≡	 0 	 mod 9
k= 43,	 n^3= 79507 	≡	 1 	 mod 9
k= 44,	 n^3= 85184 	≡	 -1 	 mod 9
k= 45,	 n^3= 91125 	≡	 0 	 mod 9
k= 46,	 n^3= 97336 	≡	 1 	 mod 9
k= 47,	 n^3= 103823 	≡	 -1 	 mod 9
k= 48,	 n^3= 110592 	≡	 0 	 mod 9
k= 49,	 n^3= 117649 	≡	 1 	 mod 9
k= 50,	 n^3= 125000 	≡	 -1 	 mod 9
k= 51,	 n^3= 132651 	≡	 0 	 mod 9
k= 52,	 n^3= 140608 	≡	 1 	 mod 9
k= 53,	 n^3= 148877 	≡	 -1 	 mod 9
k= 54,	 n^3= 157464 	≡	 0 	 mod 9
k= 55,	 n^3= 166375 	≡	 1 	 mod 9
k= 56,	 n^3= 175616 	≡	 -1 	 mod 9
k= 57,	 n^3= 185193 	≡	 0 	 mod 9
k= 58,	 n^3= 195112 	≡	 1 	 mod 9
k= 59,	 n^3= 205379 	≡	 -1 	 mod 9
k= 60,	 n^3= 216000 	≡	 0 	 mod 9
k= 61,	 n^3= 226981 	≡	 1 	 mod 9
k= 62,	 n^3= 238328 	≡	 -1 	 mod 9
k= 63,	 n^3= 250047 	≡	 0 	 mod 9
k= 64,	 n^3= 262144 	≡	 1 	 mod 9
k= 65,	 n^3= 274625 	≡	 -1 	 mod 9
k= 66,	 n^3= 287496 	≡	 0 	 mod 9
k= 67,	 n^3= 300763 	≡	 1 	 mod 9
k= 68,	 n^3= 314432 	≡	 -1 	 mod 9
k= 69,	 n^3= 328509 	≡	 0 	 mod 9
k= 70,	 n^3= 343000 	≡	 1 	 mod 9
k= 71,	 n^3= 357911 	≡	 -1 	 mod 9
k= 72,	 n^3= 373248 	≡	 0 	 mod 9
k= 73,	 n^3= 389017 	≡	 1 	 mod 9
k= 74,	 n^3= 405224 	≡	 -1 	 mod 9
k= 75,	 n^3= 421875 	≡	 0 	 mod 9
k= 76,	 n^3= 438976 	≡	 1 	 mod 9
k= 77,	 n^3= 456533 	≡	 -1 	 mod 9
k= 78,	 n^3= 474552 	≡	 0 	 mod 9
k= 79,	 n^3= 493039 	≡	 1 	 mod 9
k= 80,	 n^3= 512000 	≡	 -1 	 mod 9
k= 81,	 n^3= 531441 	≡	 0 	 mod 9
k= 82,	 n^3= 551368 	≡	 1 	 mod 9
k= 83,	 n^3= 571787 	≡	 -1 	 mod 9
k= 84,	 n^3= 592704 	≡	 0 	 mod 9
k= 85,	 n^3= 614125 	≡	 1 	 mod 9
k= 86,	 n^3= 636056 	≡	 -1 	 mod 9
k= 87,	 n^3= 658503 	≡	 0 	 mod 9
k= 88,	 n^3= 681472 	≡	 1 	 mod 9
k= 89,	 n^3= 704969 	≡	 -1 	 mod 9
k= 90,	 n^3= 729000 	≡	 0 	 mod 9
k= 91,	 n^3= 753571 	≡	 1 	 mod 9
k= 92,	 n^3= 778688 	≡	 -1 	 mod 9
k= 93,	 n^3= 804357 	≡	 0 	 mod 9
k= 94,	 n^3= 830584 	≡	 1 	 mod 9
k= 95,	 n^3= 857375 	≡	 -1 	 mod 9
k= 96,	 n^3= 884736 	≡	 0 	 mod 9
k= 97,	 n^3= 912673 	≡	 1 	 mod 9
k= 98,	 n^3= 941192 	≡	 -1 	 mod 9
k= 99,	 n^3= 970299 	≡	 0 	 mod 9
k= 100,	 n^3= 1000000 	≡	 1 	 mod 9

*5.2) Show that $n^{3} = 0$ or $± 1 (mod 7)$ for $n ≤ 100$?*

We have $n = k (mod 7)$ where $n \in \mathbb z_{7}$ and $k \in \mathbb z_{7} = {0, 1, 2, 3, 5, 6}$, therefore, is possible deduce $n^{3} = k^{3} (mod 7)$. So, proving by cases like in next output of Python program, where the patron appear, and show that $n^{3} = 0$ or $± 1 (mod 7)$ doesn't persist for the first $100$ cubes:

In [ ]:
def cube_b(n):
    if resid(n, 7) == 0:
        return 0

    elif resid(n, 7) == 1:
        return 1

    elif resid(n,7) == 6:
        return negative_res(6, 7)

    else:
        return resid(n,7)
  
def cubes_b(n):
    for i in range(1, n + 1):
        cub = i ** 3
        print(f"{i}^3 =", cub, "-->", cube_b(cub))

cubes_b(100)

1^3 = 1 --> 1
2^3 = 8 --> 1
3^3 = 27 --> -1
4^3 = 64 --> 1
5^3 = 125 --> -1
6^3 = 216 --> -1
7^3 = 343 --> 0
8^3 = 512 --> 1
9^3 = 729 --> 1
10^3 = 1000 --> -1
11^3 = 1331 --> 1
12^3 = 1728 --> -1
13^3 = 2197 --> -1
14^3 = 2744 --> 0
15^3 = 3375 --> 1
16^3 = 4096 --> 1
17^3 = 4913 --> -1
18^3 = 5832 --> 1
19^3 = 6859 --> -1
20^3 = 8000 --> -1
21^3 = 9261 --> 0
22^3 = 10648 --> 1
23^3 = 12167 --> 1
24^3 = 13824 --> -1
25^3 = 15625 --> 1
26^3 = 17576 --> -1
27^3 = 19683 --> -1
28^3 = 21952 --> 0
29^3 = 24389 --> 1
30^3 = 27000 --> 1
31^3 = 29791 --> -1
32^3 = 32768 --> 1
33^3 = 35937 --> -1
34^3 = 39304 --> -1
35^3 = 42875 --> 0
36^3 = 46656 --> 1
37^3 = 50653 --> 1
38^3 = 54872 --> -1
39^3 = 59319 --> 1
40^3 = 64000 --> -1
41^3 = 68921 --> -1
42^3 = 74088 --> 0
43^3 = 79507 --> 1
44^3 = 85184 --> 1
45^3 = 91125 --> -1
46^3 = 97336 --> 1
47^3 = 103823 --> -1
48^3 = 110592 --> -1
49^3 = 117649 --> 0
50^3 = 125000 --> 1
51^3 = 132651 --> 1
52^3 = 140608 --> -1
53^3 = 148877 --> 1
54^3 = 157464 --> -1
55^3 = 166375 --> -1
56^3 = 175616 --> 0
57^3 = 185193 --> 1
58^3 = 195112 --> 1
59^3 = 205379 --> -1
60^3 = 216000 --> 1
61^3 = 226981 --> -1
62^3 = 238328 --> -1
63^3 = 250047 --> 0
64^3 = 262144 --> 1
65^3 = 274625 --> 1
66^3 = 287496 --> -1
67^3 = 300763 --> 1
68^3 = 314432 --> -1
69^3 = 328509 --> -1
70^3 = 343000 --> 0
71^3 = 357911 --> 1
72^3 = 373248 --> 1
73^3 = 389017 --> -1
74^3 = 405224 --> 1
75^3 = 421875 --> -1
76^3 = 438976 --> -1
77^3 = 456533 --> 0
78^3 = 474552 --> 1
79^3 = 493039 --> 1
80^3 = 512000 --> -1
81^3 = 531441 --> 1
82^3 = 551368 --> -1
83^3 = 571787 --> -1
84^3 = 592704 --> 0
85^3 = 614125 --> 1
86^3 = 636056 --> 1
87^3 = 658503 --> -1
88^3 = 681472 --> 1
89^3 = 704969 --> -1
90^3 = 729000 --> -1
91^3 = 753571 --> 0
92^3 = 778688 --> 1
93^3 = 804357 --> 1
94^3 = 830584 --> -1
95^3 = 857375 --> 1
96^3 = 884736 --> -1
97^3 = 912673 --> -1
98^3 = 941192 --> 0
99^3 = 970299 --> 1
100^3 = 1000000 --> 1

<hr>

**6. (10 Puntos) Del libro realice los siguientes problemas: 18 (pagina 105).**

*6.18) What is the remainder when $2^{100}$ is divided by $7$? Hint: $2^{3} = 1 (mod 7)$.*

Using the properties of modular arithmetic like: $x^{r+3q} ≡ x^r (x^{3})^{q} ≡ x^{r}(1)^{q} ≡ x^{r}$, is possible deduce:

<center>
    <br>
    $2^{100} ≡ 2^{3*33} * 2 (mod 7)$<br>
    $2^{100} ≡ (2^{3})^{33} * 2 (mod 7)$<br>
    $2^{100} ≡ (2^{3})^{33} * 2 ≡ 2 (mod 7)$<br>
    $2^{100} ≡ 2 (mod 7)$
</center>

The remainder when $2^{100}$ is divided by $7$ is $2$.

<hr>

**7. (10 Puntos) Del libro realice los siguientes problemas: 19 y 20 (pagina 105).**


*7.19) Use number theory to find the remainder when* $\sum^{1000}_{k = 1}k!$ *is divided by $24$. How much running time is involved if this is done by computing the sum and then dividing by $24$?*

Following the expression $\sum^{1000}_{k = 1}k!$, is possible expand the sumatory as:<br>
<center>
    $1! = 1 = 1$<br>
    $2! = 1*2 = 2$<br>
    $3! = 1*2*3 = 6$<br>
    $4! = 1*2*3*4 = 24$<br>
    $5! = 1*2*3*4*5 = 120 = 24*5$<br>
    $6! = 1*2*3*4*5*6 = 720 = 24*5*6 = 4!*\frac{6!}{4!}$<br>
    .<br>.<br>.<br>
    $999! = 1*2*3*...*997*998*999 =  4!*\frac{999!}{4!}$<br>
    $1000! = 1*2*3*...*998*999*1000 =  4!*\frac{1000!}{4!}$<p>
</center>

So, by definition, we obtain $k! = 4! * \frac{k!}{4!}$. Therefore, after $4!$ every element have congruence with $0(mod 4)$, so, is possible ingore the summatory in $\sum^{1000}_{k = 1}k!$ after $4!$, where:
<center>
    $\sum^{1000}_{k = 1}k! ≡ 1! + 2! + 3! ≡ 9 (mod 24)$
</center>

So, when $\sum^{1000}_{k = 1}k!$ is divided by $24$, the reminder is $9$. Like next:

In [ ]:
a = 0
def fact(n):
    factorial_total = 1
    while n > 1:
        factorial_total *= n
        n -= 1
    return factorial_total

for i in range(1,1001):
    a += fact(i)

print("The reminder is:", a % 24)

The reminder is: 9

*7.20) Show that* $1^{p−1} + 2^{p−1} + 3^{p−1} + ... + (p−1)^{p−1} = −1(mod p)$, *where $p$ is a prime less than $50$.*

In [ ]:
def sum_elem_zn(p):
    if not is_prime(p):
        return "The number isn't prime"
    else:
        sum = 0
        my_pow = p-1
        for i in range(1, p):
            sum += fermat(i, my_pow, p)

        if negative_res(sum, p) == -1:
            return negative_res(sum, p)
        
        else:
            return resid(sum, p)


def fermat(a, n, p):
    if resid(n, p - 1) == 0:
        return 1
        
    else:
        m = resid(n, p - 1)
        return power_modular(a, m, p)

ingress = int(input("Ingress 1 prime number less than 50: "))
result = sum_elem_zn(ingress)
print(f"p = {ingress} \t Result = {result} \t So, 1^(p−1) + 2^(p−1) + 3^(p−1) + ... + (p−1)^(p−1) = −1(mod p) is True") if result == -1 else print(f"Error, try again \t p = {ingress} ")

Ingress 1 prime number less than 50: 31
p = 31 	 Result = -1 	 So, 1^(p−1) + 2^(p−1) + 3^(p−1) + ... + (p−1)^(p−1) = −1(mod p) is True